<div class="page-content" [class.blurred]="isSignupOpen || isLoginOpen">
    <app-navbar (openSignup)="openSignup()" *ngIf="!isDashboard()"></app-navbar>
    <router-outlet (activate)="onActivate($event)"></router-outlet>

    <div class="main-content"></div> <!-- This keeps footer at bottom -->
    <app-footer></app-footer>
</div>
<app-signup *ngIf="isSignupOpen" 
            (close)="closeSignup()" 
            (login)="switchToLogin()" 
            (submit)="onSignupSubmit($event)"
            (onCreate)="toDashboard()">
</app-signup>
<app-login *ngIf="isLoginOpen" 
           (close)="closeLogin()" 
           (switch)="switchToSignup()" 
           (submit)="onLoginSubmit($event)">
</app-login>